{{ if ne .Site.Params.hideMadeWithLine true }}Copyright © 2022 Twann · <a href="https://codeberg.org/nogithub/nogithub.codeberg.page">Edit this page</a><br>Made with <a href="https://github.com/janraasch/hugo-bearblog/">Hugo ʕ•ᴥ•ʔ Bear</a>{{ end }}
